<form [formGroup]="form" (submit)="onSubmit($event)">
  <h1>Login</h1>
  <p>Sign In to your account</p>
  <div class="input-group mb-3 d-flex flex-column">
    <div class="d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Your email"
        autocomplete="username"
        required
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="username?.touched && username?.invalid"
    >
      This field is required!
    </div>
  </div>
  <div class="input-group mb-4 d-flex flex-column">
    <div class="d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
      </div>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        autocomplete="current-password"
        required
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="password?.touched && password?.invalid"
    >
      Password is required!
    </div>
    <div class="alert alert-danger" *ngIf="isLoginUnSuccessfull">
      Email or password is invalid
    </div>
  </div>

  <div class="container">
    <div class="section1">
      <button 
      
      type="submit"
      class="btn btn-primary px-4 login"
      [disabled]="this.form.invalid"
    >
      Login
    </button>
    </div>
    <div class="section2">
      <div class="row">
        <div >
          <form action="{{loginUrl}}" method="post" #logingoogleform>
            <a class="google-btn" (click)="googlesubmit()" >Sign in with Google</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>
