<div class="main">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12 mb-2" style="margin-top: 100px">
        <h2 class="text-center">Edit Team</h2>
        <hr />
      </div>
      <div class="col-lg-12">
        <div class="line"></div>
        <p class="description text-center m-4">Choose a team to edit</p>
        <div class="line"></div>
        <div class="flex">
          <mat-form-field class="selectt" appearance="fill" style="width: 100%">
            <mat-label>Choose the team</mat-label>
            <mat-select [(ngModel)]="chosedTeam">
              <mat-option *ngFor="let team of teams" [value]="team.id">
                {{ team.teamName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex">
          <button
            mat-raised-button
            color="primary"
            style="display: block"
            [disabled]="chosedTeam == null"
            (click)="choose()"
          >
            <div>Choose</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" style="width: 100%">
  <footer class="page-footer font-small unique-color-dark">
    <div class="footer-copyright text-center py-3">
      © 2021
      <a> Team Management</a>
    </div>
  </footer>
</div>
