<div class="main">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12 mb-2">
        <h2 class="text-center">Here you can create teams</h2>
      </div>
      <div class="col-lg-12">
        <div class="line"></div>
        <p class="description text-center m-4">
          Here you can create teams with employees that were already registered.
          Fill the form below to create team
        </p>
        <div class="line"></div>
      </div>
      <div class="form-wrapper w-100">
        <form
          [formGroup]="form"
          #formDirective="ngForm"
          (submit)="onSubmit(formDirective)"
        >
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              <div>
                <mat-form-field appearance="fill" [style.width.px]="327">
                  <mat-label>Team Name</mat-label>
                  <input formControlName="teamName" matInput required />
                  <mat-error *ngIf="teamName?.touched && teamName?.invalid">
                    <div *ngIf="teamName?.errors?.required">
                      This field is required
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field [style.width.px]="327">
                  <mat-label>Employee email</mat-label>
                  <input
                    type="text"
                    placeholder="Pick one"
                    aria-label="Employee email"
                    matInput
                    [formControl]="members"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                  >
                    <mat-option
                      *ngFor="let option of filteredOptions | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
