<a class="title" href="#"> Team Management </a>

<div *ngIf="fullName" class="rightheader">
  <div class="search">
    <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="search" class="input" />
      <button type="submit"></button>
    </form>
  </div>
  <a
          class="nav-link dropdown-toggle colored"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          *ngIf="fullName !== null"
          color="white"
        >
          {{ fullName }}
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLink"
        >
        <a class="dropdown-item" *ngIf="isCeo" routerLink="/company-features/register-employee" role="button"
        >Go to portal management</a
      >
          <button class="dropdown-item" (click)="onLogOutButtonCLick()">
            Log Out
          </button>
        </div>
</div>
<app-login-register *ngIf="fullName === null"></app-login-register>
