:host {
  display: grid;
  grid-template-columns: 5% 25.2% 1.8% 9% 54% 5%;
  grid-template-rows: auto 2em 1fr 2em;
  grid-template-areas:
    ". header header header header ."
    ". . . . . ."
    ". menu . . content ."
    ". . . . . .";
  min-height: 100vh;
}

.placeholder-header {
  background-color: var(--dark-grey);
}

.placeholder-menu {
  background-color: var(--medium-grey);
}

.placeholder-content {
  background-color: var(--light-grey);
}
